/* index.html */
.container, .col-md-auto {
    padding-left: 0px;
    padding-right: 0px;
  }
.chinesename {
  font-family: 'Noto Serif SC', serif;
  font-size: 150px;
  display: inline-block;
  margin-bottom: 0px;
}
.card {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.date {
  float: right;
}
.h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.lit_proceeding_img {
  height: 200px;
  width: 360px;
}
#Barnard_Logo {
  width: 100px;
}
#CMU_Logo {
  width: 100px;
}
#Columbia_Logo {
  width: 100px;
}
#Bloomberg_Logo {
  width: 100px;
}
/* portfolio.html */
.portfolio_container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.portfolio_container .images{
  margin: 10px;
  padding: 10px;
}
.portfolio_container .images .imgBx{
  height: 180px;
  width: 315px;
  border: 1.5px solid #D3D3D3;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio_container .images .imgBx img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: .2s linear;
}
.portfolio_container .images .imgBx:hover img{
  transform: scale(1.05)
}

/* .imgBx:after, .imgBx:before{
  position:absolute;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.imgBx:after {
  content:'\A';
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
}
.imgBx:before {
  content: attr(data-content);
  width:100%;
  color:#fff;
  z-index:1;
  bottom:0;
  padding:4px 10px;
  text-align:center;
  background:red;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.imgBx:hover:after, .imgBx:hover:before {
  opacity:1;
} */
/**********************************************************************************/
.container .popup{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.container .popup span{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  /* font-weight: bolder; */
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: 0.5s;
  transform-style: preserve-3d;
}
/* .container .popup span:hover{
  transform: rotateX(180deg);
} */
.container .popup img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 5px;
  width: 85%;
  height: 85%;
  /* object-fit: contain; */
}